@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Estilos globais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis utilizadas */

:root {
    --bgcolor1: #30E3CA;
    --bgcolor2: #11999E;
    --fontcolor1: #E4F9F5;
    --fontcolor2: #40514E;

    --mainfont: "Inter", sans-serif;
    --secondfont: "Oswald", sans-serif;
}

/* Estilos para o body das páginas */

body {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, var(--bgcolor2) 25%, var(--bgcolor1) 75%);
    overflow-x: hidden;
}

/* Estilos para o menu de navegação */

nav {
    float: right;
    width: 100%;
    height: 4vh;
    
    display: flex;
    gap: 10px;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    
    margin-top: 10px;
    padding: 10px;

    position: relative;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    z-index: 1;
}

nav a {
    font-family: var(--mainfont);
    color: var(--fontcolor1);
    font-weight: bold;
    font-size: 1.4em;

    margin: 20px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in-out;
}

nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--fontcolor1);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

nav a:hover {
    font-size: 1.5em;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2);
}

nav a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Estilos para a main das páginas */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    min-height: 500px;
    max-height: 700px;
}

/* Estilos para o título principal das páginas */

h1 {
    max-width: 60%;
    max-height: 20%;
    font-family: var(--mainfont);
    font-size: 3em;
    font-weight: bold;
    
    color: var(--fontcolor1);
    text-shadow: 2px 2px 1px var(--fontcolor2);
    margin-top: 80px;
}

/* Estilos para a página principal */

.add-task-input {
    min-width: 300px;
    height: 30px;
    
    border-radius: 50px;
    border: none;
    background-color: var(--fontcolor1);
    font-family: var(--secondfont);
    font-size: 1em;
    font-weight: 300;
    
    margin: 20px 0px;
    padding: 3px 8px;
}

.add-task-input:hover {
    cursor: pointer;
    background-color: #e4f9f5f5;
    border: 1px solid var(--fontcolor2);
}

.add-task-input:focus {
    outline: 0;
}

.add-task-input::placeholder {
    color: var(--fontcolor2);
}

.p-wrapper {
    display: flex;
    flex-direction: column;

    width: 270px;
    line-height: 1.8em;
}

p {
    font-family: var(--secondfont);
    font-weight: normal;
    font-size: 1em;

    color: var(--fontcolor1);
}

.task-item {
    display: flex;
    align-items: center;
    
    width: 280px;
    height: 40px;
    
    margin: 10px;
}

#task-title-link {
    text-decoration: none;
    font-family: var(--secondfont);
    font-size: 1em;
    font-weight: bold;
    color: var(--fontcolor2);
    border-radius: 5px;
}

.task-title-wrapper {
    display: flex;
    align-items: center;

    width: 240px;
    height: 30px;
    padding: 2px 5px;

    cursor: pointer;
    background-color: var(--fontcolor1);
    border-radius: 5px;
}

.task-title-wrapper:hover {
    background-color: #e4f9f5f5;
    border: 1px solid var(--fontcolor2);
    font-size: 1.1em;
}

.task-icons {
    display: flex;
    gap: 5px;
    
    margin: 4px;
    padding: 4px;
}

#edit-icon {
    color: var(--fontcolor2);
}

#edit-icon:hover {
    color: black;
}

#delete-icon {
    color: var(--fontcolor2);
}

#delete-icon:hover {
    color: #e70e02;
}

/* Estilos para as páginas de login e de registro */

.form-field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 250px;
    height: 50px;
    margin: 10px 0px;
    padding: 10px;
}

.form-label {
    font-family: var(--mainfont);
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0px;
    
    color: var(--fontcolor1);
}

.form-input {
    width: 220px;
    height: 30px;
    
    border-radius: 5px;
    border: none;
    background-color: var(--fontcolor1);
    
    font-family: var(--secondfont);
    font-size: 1em;
    font-weight: 300;
    
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 2px 4px;
}

.form-input:hover {
    cursor: pointer;
    background-color: #e4f9f5f5;
    border: 1px solid var(--fontcolor2);
}

.form-input:focus {
    outline: 0;
}

.form-input::placeholder {
    color: var(--fontcolor2);
}

.form-button {
    width: 60px;
    height: 30px;
    
    font-family: var(--secondfont);
    font-size: 1em;
    font-weight: 300;
    
    color: var(--fontcolor1);
    background-color: var(--bgcolor2);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--bgcolor1);
    margin-top: 20px;
}

.form-button:hover {
    cursor: pointer;
    background-color: #11999ec9;
    border: 1px solid var(--bgcolor1);
}

.form-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 5px;
    margin-bottom: 5px;
}

.form-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    padding: 8px;
    margin-top: 2px;
}

.form-text-wrapper p {
    color: var(--fontcolor2);
    margin-bottom: 4px;
}

.form-text-wrapper a {
    position: relative;
    transition: color 0.3s ease-in-out;

    font-family: var(--secondfont);
    font-weight: normal;
    font-size: 1em;

    color: var(--fontcolor2);
    text-decoration: none;
}

.form-text-wrapper a:hover {
    color: var(--fontcolor1);
}

.form-text-wrapper a::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3px;
    background-color: var(--fontcolor1);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.form-text-wrapper a:hover::before {
    transform: scaleX(1);
}

/* Estilos para as páginas individuais das tasks */

.task-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 20px;
    padding: 10px;
}

.task-main-info-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    padding: 10px;
    margin: 20px 0px;
}

.task-main-info-wrapper h2 {
    max-width: 100%;
    font-family: var(--mainfont);
    font-size: 3em;
    font-weight: bold;
    
    color: var(--fontcolor1);
    text-shadow: 2px 2px 1px var(--fontcolor2);
    margin-top: 20px;
}

.task-main-info-wrapper a {
    font-family: var(--secondfont);
    font-weight: normal;
    font-size: 1em;
    
    color: var(--fontcolor2);
    margin-bottom: 20px;
    text-decoration: none;
}

.task-main-info-wrapper a:hover {
    font-size: 1.1em;
    color: var(--fontcolor1);
}

.task-other-info-wrapper {
    padding: 10px;
}

.task-other-info-wrapper p {
    margin-bottom: 12px;
    line-height: 1.5em;
}