{% extends 'main.html' %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="content-container">
        <form action="" method="post">
            <h2>Delete Task</h2>
            {% csrf_token %}
            <p>Are you sure you want to delete the task "{{ task.title }}?"</p>
            
            <div class="form-delete-option-wrapper">
                <input class="form-button" type="submit" value="Delete">
                <a class="form-link" href="{% url 'index' %}">Cancel</a>
            </div>
        </form>
    </div>

{% endblock %}