{% extends 'main.html' %}

{% block content %}
    {% include 'navbar.html' %}

    <div class="content-container">
        <h2>User Informations</h2>

        {% include 'messages.html' %}

        <form action="" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-field-wrapper">
                    <label class="form-label" for="{{ field.label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}

            <div class="form-link-button-wrapper">
                <input class="form-button" type="submit" value="Update">
                <a class="form-link" href="{% url 'delete-user' request.user.id %}">delete account</a>
            </div>
        </form>
    </div>

{% endblock content %}