{% extends 'main.html' %}

{% block content %}

    <main>
        <h1>Register</h1>

        {% include 'messages.html' %}

        <form action="" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-field-wrapper">
                    <label class="form-label" for="{{ field.label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}

            <div class="form-button-wrapper">
                <input class="form-button" type="submit" value="Register">
            </div>
        </form>

        <div class="form-text-wrapper">
            <p>Already registered?</p>
            <a class="form-link" href="{% url 'login' %}">Login</a>
        </div>
    </main>

{% endblock content %}
