{% extends 'main.html' %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="task-wrapper">
        <div class="task-main-info-wrapper">
            <h2>{{ task.title }}</h2>
            <a href="">@{{ task.user }}</a>
            <p>This task was created {{ task.created|timesince }} ago</p>
        </div>

        <div class="task-other-info-wrapper">
            {% if task.completed %}
                <p>Task done!</p>
            {% else %}
                <p>Task not done yet!</p>
            {% endif %}
            
            {% if task.description != '' %}
                <p>{{ task.description }}</p>
            {% else %}
                <p>The task doesn't have a description yet!</p>
            {% endif %}
        </div>
    </div>

{% endblock content %}
